<!-- footer -->
<footer>
    <!-- footer content -->
    <div class="footer bg-footer section border-bottom">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-sm-8 mb-5 mb-lg-0">
                    <!-- logo -->
                    <a class="logo-footer" href="/"><img class="img-fluid mb-4" src="/images/logo.jpg" alt="logo" /></a>
                    <ul class="list-unstyled">
                        <li class="mb-2">
                            Birtamod-07, Birtamod Municipality, Jhapa, Nepal
                        </li>
                        <li class="mb-2">023-123456</li>
                        <li class="mb-2">023-012345</li>
                        <li class="mb-2">gomendra@MultipleCollege.com</li>
                    </ul>
                </div>
                <!-- company -->
                <div class="col-lg-3 col-md-3 col-sm-4 col-6 mb-5 mb-md-0">
                    <h4 class="text-white mb-5">College</h4>
                    <ul class="list-unstyled">
                        <li class="mb-3">
                            <a class="text-color" href="/about">About Us</a>
                        </li>
                        <li class="mb-3">
                            <a class="text-color" href="/contact">Contact</a>
                        </li>
                        <li class="mb-3">
                            <a class="text-color" href="/blogs">Blog</a>
                        </li>
                    </ul>
                </div>
                <!-- links -->
                <div class="col-lg-3 col-md-3 col-sm-4 col-6 mb-5 mb-md-0">
                    <h4 class="text-white mb-5">LINKS</h4>
                    <ul class="list-unstyled">
                        <li class="mb-3">
                            <a class="text-color" href="/courses">Courses</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- copyright -->
    <div class="copyright py-4 bg-footer">
        <div class="container">
            <div class="row">
                <div class="col-sm-7 text-sm-left text-center">
                    <p class="mb-0">
                        BCA 8<sup>th</sup> Semester Project
                        <script>
                            var CurrentYear = new Date().getFullYear();
                            document.write(CurrentYear);
                        </script>
                        Jeevan Poudel
                    </p>
                </div>
                <div class=" col-sm-5 text-sm-right text-center">
                    <ul class="list-inline">
                        <li class="list-inline-item">
                            <a class="d-inline-block p-2" href="#"><i class="ti-facebook text-primary"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- /footer -->

<!-- jQuery -->
<script src="/plugins/jQuery/jquery.min.js"></script>
<!-- Bootstrap JS -->
<script src="/plugins/bootstrap/bootstrap.min.js"></script>
<!-- slick slider -->
<script src="/plugins/slick/slick.min.js"></script>
<!-- aos -->
<script src="/plugins/aos/aos.js"></script>
<!-- venobox popup -->
<script src="/plugins/venobox/venobox.min.js"></script>
<!-- filter -->
<script src="/plugins/filterizr/jquery.filterizr.min.js"></script>
<!-- google map -->
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBu5nZKbeK-WHQ70oqOWo-_4VmwOwKP9YQ"></script>
<script src="/plugins/google-map/gmap.js"></script>

<!-- Main Script -->
<script src="/js/script.js"></script>
</body>

</html>